
<%- include('partials/header'); %>
<h1>Compose</h1>

<form class="" action="/" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="postTitle" autocomplete="off" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="postBody"></textarea>
  </div>

<button type="submit" class="btn btn-outline-primary publish">Publish</button>
</form>

<%- include('partials/footer'); %>
